.table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
}

.th, td {
     border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.th {
    background-color: #f2f2f2;
}
        
.status-lunas {
    color: green;
    font-weight: bold;
}

.status-menunggu {
    color: orange;
    font-weight: bold;
}

.status-batal {
    color: red;
    font-weight: bold;
}

    container {
            padding: 20px;
        }
    